.button-room {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 55%, rgba(3,147,212,1) 86%, rgba(0,212,255,1) 100%);
    border-color: black;
    -webkit-box-shadow: 0px 0px 32px -8px rgba(0,0,0,0.85);
    -moz-box-shadow: 0px 0px 32px -8px rgba(0,0,0,0.85);
    box-shadow: 0px 0px 32px -8px rgba(0,0,0,0.85);
    font-weight: bold;
}

.button-logout {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(34,34,51,1) 0%, rgba(0,108,96,1) 0%, rgba(0,212,255,1) 100%);
    border-color: black;
    -webkit-box-shadow: 0px 0px 32px -8px rgba(0,0,0,0.85);
    -moz-box-shadow: 0px 0px 32px -8px rgba(0,0,0,0.85);
    box-shadow: 0px 0px 32px -8px rgba(0,0,0,0.85);
    font-weight: bold;
}