.waiting-room-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family:  -apple-system, BlinkMacSystemFont, sans-serif;
    height: 85vh;
}

.waiting-room-header {
    display: inherit;
    flex-direction: row;
}
